@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Upload de arquivo</h2>
        <form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
		    <input type="file" name="files"/>
		    <input type="submit" value="Converter arquivo" />
		</form>
    </div>
</div>
